  <header>
        <h1>Mi Página de Fútbol</h1>
        <nav>
            <ul>
                <li><a href="/">inicio</a></li>
                <li><a href="comunicaciones">cremas</a></li>
                <li><a href="madrid">real madrid</a></li>
            </ul>
        </nav>
    </header>