<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madrid</title>
    <link rel="stylesheet" type="text/css" href="assets/styles.css">
    <link rel="icon" href="images/real.png">
</head>
<body>
    <header>
        <h1>Mi Página de Fútbol</h1>
        <nav>
            <ul>
                <li><a href="index.html">inicio</a></li>
                <li><a href="comunicaciones.html">cremas</a></li>
                <li><a href="madrid.html">real madrid</a></li>
            </ul>
        </nav>
    </header>

    <div>
        <h1>club Real Mdrid Fc</h1>
        <p>
            El Real madrid Fútbol Club, conocido como los merengues, es un club de fútbol guatemalteco con sede en la
            Ciudad de Guatemala. Actualmente milita en la Liga Nacional de Guatemala y juega sus partidos de local en
            el Estadio Doroteo Guamuch Flores.Fue fundado oficialmente bajo el nombre de Club Social y Deportivo
            Comunicaciones el 16 de agosto de 1949.Actualmente el club cuenta con treinta y un Ligas, ocho Copas y
            diez Campeón de Campeones; a nivel internacional tiene en sus vitrinas dos Copas Fraternidad Centroamericana,
            una Liga Concacaf y una Copa de Campeones de la Concacaf,<br><br> colocándolo como el club guatemalteco con más títulos
            (53).color que identifica al equipo es negro y el blanco, este último empezó a utilizar en su uniforme poco
            tiempo después de su fundación ya que en sus inicios el uniforme del club era color crema. Su rival histórico
            es el equipo CSD Municipal, con el que disputa el denominado Clásico chapín, siendo este encuentro el de mayor
            rivalidad y el de mayor importancia en Guatemala.
        </p>
       <div>
        <center> <img src="images/real.png" ></center>
       </div> 
        
    </div>
    <footer>
        <p>&copy; 2023 Mi Página de Fútbol</p>
    </footer>
</body>  
</html>